* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

.cabeçalho {
    background-color: #5F0F40;
    display: flex;
    padding: 24px 0;
    justify-content: space-around;
    align-items: center;
}

.cabeçalho-título {
    color: #FA725A;
    font-size: 48px;
}

.custom-text {
    font-family: 'Times New Roman', serif;
    font-size: 24px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.social-icons a:hover img {
    opacity: 0.7; /* Efeito de hover (reduz a opacidade) */
}
